html,body{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#container{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#header{
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

#title{
    position: relative;
    width: auto;
    height: auto;
}
#title h1,
#title h2{
    position: relative;
    display: block;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
    font-size: 21px;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}
#title h1{
    padding: 5px 30px;
    font-family: 'Graphik-Bold';
    background-color: #ff0021;
    color: #ffffff;
}
#title h2{
    font-family: 'Graphik-Medium';
    margin: 5px 0px 5px 0px;
    color: #001841;
}

#instrucciones{
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
}
#instrucciones img{
    display: block;
    width: 30px;
    margin-right: 10px;
}
#instrucciones p{
    display: block;
    margin: 0px;
    padding: 0px;

    font-family: 'Graphik-Regular';
    font-size: 14px;
    color: #4c4c4c;
    font-weight: normal;
    line-height: normal;
}

#content{
    position: relative;
    width: 100%;
    height: auto;
    height: calc(100% - 150px);
    height: -moz-calc(100% - 150px);
}

#col{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#col-rueda{
    position: relative;
    width: 1000px;
    height: 100%;
}
.col-rueda-loading{
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    background-image: url(../images/loader.gif);
}
#col-rueda-title{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 15px auto;

    font-family: 'Graphik-Semibold';
    font-size: 16px;
    color: #00205c;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    transition: opacity 0.5s;
}
.col-rueda-title-on{
    opacity: 1;
}
.col-rueda-title-off{
    opacity: 0;
}

#col-rueda-title span{
    font-family: 'Graphik-Regular';
}

#rueda{
    position: absolute;
    width: 1000px;
    height: 1000px;
    top: 100%;
    top: calc(100% - (500px + 10px));
    top: -moz-calc(100% - (500px + 10px));
    left: 0px;

    transition: opacity 0.5s;
}
.rueda-on{
    opacity: 1;
}
.rueda-off{
    opacity: 0;
}

.rueda-nivel0,
.rueda-nivel2{
    position: absolute;
    width: 100%;
    height: 50%;
    height: calc(50% - 10px);
    height: -moz-calc(50% - 10px);
    
    left: 0%;
    top: 0%;
    overflow: hidden;
}
.rueda-borde{
    position: relative;
    width: 850px;
    height: 850px;
    
    box-sizing: border-box;
    border: #00205c solid 12px;
    left: 75px;
    top: 75px;
    border-radius: 50%;
}

#rueda-nivel1{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    transition: transform 0.5s;
}
.rueda-off #rueda-nivel1{
    transform: rotate(180deg);
}
.rueda-on #rueda-nivel1{
    transform: rotate(0deg);
}

.rueda-pilar{
    position: absolute;
    height: 100%;
    top: 0%;
    box-sizing: border-box;
    padding: 0px 10px;
    transform-origin: center center;
}

.rueda-pilar-imagen{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
}

.rueda-pilar-imagen > img:first-child{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;

    transition: filter 0.25s;
}
.rueda-pilar-imagen > img:last-child{
    position: absolute;
    display: block;
    width: 64px;
    height: 64px;
    left: 50%;
    left: calc(50% - 32px);
    left: -moz-calc(50% - 32px);
    top: 50%;

    transition: width 0.25s, left 0.25s, height 0.25s, filter 0.25s;
}
.rueda-pilar-imagen-sombra{
    position: absolute;
    width: 100%;
    height: auto;
    margin: 0px;
    display: block;
    opacity: 0;
    top: 0px;
    left: 0px;

    transition: opacity 0.25s;
}

.rueda-pilar .over > img:first-child{
    filter: brightness(150%);
}
.rueda-pilar .over > img:last-child{
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
    width: 74px;
    height: 74px;
    left: 50%;
    left: calc(50% - 37px);
    left: -moz-calc(50% - 37px);
}
.rueda-pilar .over .rueda-pilar-imagen-sombra{
    opacity: 1;
}


#rueda-areas{
    position: absolute;
    width: 100%;
    height: 100%;
}
.rueda-area{
    position: absolute;
    width: 90px;
    height: 90px;
    cursor: pointer;
    background-color: rgba(255,255,255,0);
    transform: translate(-50%, -50%);
}
/***************/
.rueda-imagen{
    position: absolute;
    width: 680px;
    left: 50%;
    left: calc(50% - 340px);
    left: -moz-calc(50% - 340px);

    height: 325px;
    bottom: 50%;
    bottom: calc(50% + 10px);
    bottom: -moz-calc(50% + 10px);
    
    overflow: hidden;
}

#rueda-imagen-wrap{
    position: relative;
    width: 100%;
    height: 650px;

    transform-origin: center center;
    border-radius: 50%;
    overflow: hidden;
}
#rueda-imagen-wrap-1,
#rueda-imagen-wrap-2{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    transform-origin: center center;
}
.rueda-imagen-wrap-1-visible{
    transform: rotate(0deg);
}
.rueda-imagen-wrap-1-invisible{
    transform: rotate(180deg);
    transition: transform 1s;
}
.rueda-imagen-wrap-2-invisible{
    transform: rotate(180deg);
}
.rueda-imagen-wrap-2-visible{
    transform: rotate(360deg);
    transition: transform 1s;
}

.rueda-imagen-wrap-img{
    position: relative;
    width: 100%;
    height: 50%;
}
.rueda-imagen-wrap-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.rueda-imagen-wrap-description{
    position: absolute;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: #ffffff;
    bottom: 50%;
    left: 0px;
}
.rueda-imagen-wrap-description p{
    display: block;
    margin: 0px;
    padding: 0px;
    font-family: 'Graphik-Regular';
    font-size: 14px;
    color: #00205c;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}

/***************/

#col-ruleta{
    position: relative;
    width: auto;
    width: calc(100% - 1000px);
    width: -moz-calc(100% - 1000px);
    height: 100%;
}
#ruleta-imagen{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#ruleta-img{
    position: relative;
    display: block;
    height: auto;
    margin: 0px;
}
#ruleta-img,
#ruleta-numeros{
    width: 300px;
    height: 600px;
}

#ruleta-aguja{
    position: absolute;
    width: 60px;
    height: 200px;

    top: 50%;
    top: calc(50% - 172px);
    top: -moz-calc(50% - 172px);
    left: 100%;
    left: calc(100% - 30px);
    left: -moz-calc(100% - 30px);

    transform-origin: 50% 86%;

    transition: transform 0.15s ease-in;
}
#ruleta-aguja-img{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    transform-origin: 50% 86%;
    filter: drop-shadow(5px 5px 7px rgba(0,0,0,0.5));
}
.ruleta-aguja-animation{
    animation: animacion-aguja-mueve 0.25s 0.15s linear 1 forwards;
}
@keyframes animacion-aguja-mueve{
    0%,100%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    80%{
        transform: rotate(3deg);
    }
    95%{
        transform: rotate(-1deg);
    }
}

#ruleta-numeros{
    position: absolute;
    right: 0px;
    top: 50%;
    top: calc(50% - 300px);
    top: -moz-calc(50% - 300px);
}
#ruleta-numeros > div{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'FSJoey-Bold';
    font-size: 60px;
    color: #fff;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    transform: translate(-50%, -50%);

    transform-origin: 0% 0%;
    transition: text-shadow 0.25s;
}

#ruleta-numeros > div:hover{
    cursor: pointer;
    text-shadow: 0px 0px 8px rgba(255,255,0,0.8);
    animation: animacion-numero-hover 0.25s 1 forwards linear;
}
@keyframes animacion-numero-hover{
    0%,100%{
        transform: scale(1) translate(-50%,-50%);
    }
    40%{
        transform: scale(1.4) translate(-50%,-50%);
    }
    80%{
        transform: scale(0.8) translate(-50%,-50%);
    }
    95%{
        transform: scale(1.1) translate(-50%,-50%);
    }
}

#ruleta-numeros > div:nth-child(1){top:13%; left:87%;}
#ruleta-numeros > div:nth-child(2){top:20%; left:54%;}
#ruleta-numeros > div:nth-child(3){top:33%; left:31%;}
#ruleta-numeros > div:nth-child(4){top:49%; left:23%;}
#ruleta-numeros > div:nth-child(5){top:66%; left:31%;}
#ruleta-numeros > div:nth-child(6){top:79%; left:54%;}
#ruleta-numeros > div:nth-child(7){top:85%; left:87%;}
