html,body{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#container{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#header{
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

#title{
    position: relative;
    width: auto;
    height: auto;
}
#title h1,
#title h2{
    position: relative;
    display: block;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
    font-size: 21px;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}
#title h1{
    padding: 5px 30px;
    font-family: 'Graphik-Bold';
    background-color: #ff0021;
    color: #ffffff;
}
#title h2{
    font-family: 'Graphik-Medium';
    margin: 5px 0px 5px 0px;
    color: #001841;
}

#instrucciones{
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
}
#instrucciones img{
    display: block;
    width: 30px;
    margin-right: 10px;
}
#instrucciones p{
    display: block;
    margin: 0px;
    padding: 0px;

    font-family: 'Graphik-Regular';
    font-size: 14px;
    color: #4c4c4c;
    font-weight: normal;
    line-height: normal;
}

#content{
    position: relative;
    width: 100%;
    height: auto;
    height: calc(100% - 150px);
    height: -moz-calc(100% - 150px);
}

#col{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#col-rueda{
    position: relative;
    width: 1000px;
    height: 100%;
}
#col-rueda-title{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0px auto;
    margin-bottom: 20px;

    font-family: 'Graphik-Semibold';
    font-size: 16px;
    color: #00205c;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}

.rueda-5{
    position: absolute;
    width: 1000px;
    height: 1000px;
    top: 100%;
    top: calc(100% - (500px + 10px));
    top: -moz-calc(100% - (500px + 10px));
    left: 0px;
}
.rueda-nivel0{
    position: absolute;
    width: 100%;
    height: 50%;
    height: calc(50% - 10px);
    height: -moz-calc(50% - 10px);
    
    left: 0%;
    top: 0%;
    overflow: hidden;
}
.rueda-borde{
    position: relative;
    width: 850px;
    height: 850px;
    
    box-sizing: border-box;
    border: #00205c solid 12px;
    left: 75px;
    top: 75px;
    border-radius: 50%;
}

.rueda-nivel1{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.rueda-pilar{
    position: absolute;
    height: 100%;
    top: 0%;
    box-sizing: border-box;
    padding: 0px 10px;
    transform-origin: center center;
}


.rueda-pilar-imagen{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
}
.rueda-pilar-imagen > img:first-child{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
}
.rueda-pilar-imagen > img:last-child{
    position: absolute;
    display: block;
    width: 25%;
    height: auto;
    left: 37.5%;
    top: 50%;
    transform: translateY(-50%);
}

/***************/
.rueda-imagen{
    position: absolute;
    width: 680px;
    left: 50%;
    left: calc(50% - 340px);
    left: -moz-calc(50% - 340px);

    height: 325px;
    bottom: 50%;
    bottom: calc(50% + 10px);
    bottom: -moz-calc(50% + 10px);
    
    overflow: hidden;
}

#rueda-imagen-wrap{
    position: relative;
    width: 100%;
    height: 650px;

    transform-origin: center center;
    border-radius: 50%;
    overflow: hidden;
}
#rueda-imagen-wrap-1,
#rueda-imagen-wrap-2{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    transform-origin: center center;
}
.rueda-imagen-wrap-1-visible{transform: rotate(0deg);}
.rueda-imagen-wrap-1-invisible{transform: rotate(180deg);}
.rueda-imagen-wrap-2-invisible{transform: rotate(180deg);}
.rueda-imagen-wrap-2-visible{transform: rotate(360deg);}

.rueda-imagen-wrap-img{
    position: relative;
    width: 100%;
    height: 50%;
}
.rueda-imagen-wrap-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.rueda-imagen-wrap-description{
    position: absolute;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: #ffffff;
    bottom: 50%;
    left: 0px;
}
.rueda-imagen-wrap-description p{
    display: block;
    margin: 0px;
    padding: 0px;
    font-family: 'Graphik-Regular';
    font-size: 14px;
    color: #00205c;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}

/***************/

#col-ruleta{
    position: relative;
    width: auto;
    width: calc(100% - 1000px);
    width: -moz-calc(100% - 1000px);
    height: 100%;
}
#ruleta-imagen{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#ruleta-img{
    position: relative;
    display: block;
    width: 300px;
    height: auto;
    margin: 0px;
}
#ruleta-aguja{
    position: absolute;
    top: 50%;
    left: 100%;

    transform: translate(-50%, 86%);
}
#ruleta-aguja img{
    display: block;
    position: relative;
    height: 200px;
    width: auto;
}