.rueda-5 .rueda-pilar{
    width: 200px;
    left: 50%;
    left: calc(50% - 100px);
    left: -moz-calc(50% - 100px);
}
.rueda-5 .rueda-pilar:nth-child(3){
    transform: rotate(0deg);
}
.rueda-5 .rueda-pilar:nth-child(2){
    transform: rotate(-72deg);
}
.rueda-5 .rueda-pilar:nth-child(4){
    transform: rotate(72deg);
}
.rueda-5 .rueda-pilar:nth-child(1){
    transform: rotate(-144deg);
}
.rueda-5 .rueda-pilar:nth-child(5){
    transform: rotate(144deg);
}